<div class="container">
  <!-- Navigation Bar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    
    <div class="navbar-nav">
      <button class="nav-item nav-link btn" (click)="showInternships()">Available Internships</button>
      <button class="nav-item nav-link btn" (click)="showApplications()">My Applications</button>
    </div>
  </nav>

  <!-- Page Heading -->

  <!-- Available Internships Section -->
  <h2>Available Internships</h2>
<table class="table">
<thead>
  <tr>
    <th>Title</th>
    <th>Company</th>
    <th>Action</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let internship of internships">
    <td>{{ internship.title }}</td>
    <td>KPMG</td>
    <td><button class="btn btn-apply"(click)="applyInternship(internship.id)">Apply</button></td>
  </tr>
</tbody>
</table>


  <!-- My Applications Section -->
  <div *ngFor="let app of applications" class="application-card">
    <h3>{{ app.internship.title }}</h3>
    <p><strong>Company:</strong>  app.companyname</p>
    <p><strong>Applied Date:</strong> {{ app.appliedDate }}</p>
    <p><strong>Status:</strong> {{ app.status }}</p>
  
    <!-- Show interview date only if application is accepted -->
    <p *ngIf="app.status === 'Accepted'">
      <strong>Interview Date:</strong> {{ app.interviewDate }}
    </p>
    <div *ngIf="app.status === 'Rejected'">
      <span [ngClass]="{'status-text': true, 'better-luck': app.status === 'Rejected'}">
         Better luck next time!
      </span>
    </div>
    
   
  </div>
  
  