<div class="login-container">
  <div class="login-box">
    
    <!-- Logo -->
    <div class="logo">
      <img src="" alt="">
    </div>

    <h1>InternAspire</h1>
    <h2>Student & Employer Login</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
      
      <!-- Email Field -->
      <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" id="email" formControlName="email" placeholder="Enter your email">
        <div *ngIf="submitted && f['email'].errors" class="error-message">
          <small *ngIf="f['email'].errors?.['required']">Email is required.</small>
          <small *ngIf="f['email'].errors?.['email']">Enter a valid email.</small>
        </div>
      </div>

      <!-- Password Field -->
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password" placeholder="Enter your password">
        <div *ngIf="submitted && f['password'].errors" class="error-message">
          <small *ngIf="f['password'].errors?.['required']">Password is required.</small>
          <small *ngIf="f['password'].errors?.['minlength']">Password must be at least 6 characters.</small>
        </div>
      </div>

      <!-- Submit Button -->
      <button type="submit" class="login-btn">Login</button>

      
    </form>
  </div>
</div>

<router-outlet></router-outlet>
